<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">

  <title>Отображение всех заголовков писем | Тестовое задание №1</title>
  <meta name="description" content="Тестовое задание №1">
  <meta name="author" content="Ivan Lebedev">

   <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />

</head>

<body>
<section>
  <h1>Отображение всех заголовков писем</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Номер</th>
          <th>Заголовок сообщения</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
    
      {% for key, user in subjects %}
      <tr>
       <td>{{ (key|e)+1 }}</td>
        <td>{{ user|e }}</td>
         </tr>
        {% endfor %}
   
      </tbody>
    </table>
  </div>

  <div class='info_options'>
<h3>Отображение с {{start}} по {{limit}} из {{count}} сообщений</h3>
<h4>Страница №{{page}} из {{pageAll}}</h4>
</div>
{{ form_start(form) }} 
{{ form_errors(form) }}
   {{ form_row(form.number) }} 
    <input type = "submit" name = "submit" value = "Отправить">   
{{ form_end(form) }}
</section>
</body>
</html>